@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.range-slider {
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: transparent;
  transition: all 200ms ease-in-out;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #3a4855;
  border-radius: 100%;
  animation-duration: 200ms;
  transition: all 200ms ease-in-out;
}

.range-slider::-webkit-slider-thumb:hover {
  transform: scale(115%);
}

.animated-text {
  background-image: linear-gradient(to right, transparent, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
  animation: colorAppear 5s linear infinite;
}

@keyframes colorAppear {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
